<div class="user-container">

  <div class="user-header">
    <span>User: {{userId}}</span>
    <button (click)="userLogOut()">LOG OUT</button>
  </div>

  <div class="user-content">
    
    <div *ngIf="messages.length"
      class="user-messages">

      <div *ngFor="let m of messages">
        <span class="user-message"
          [class]="m.severity">{{m.text}}</span>
      </div>
    </div>

    <ng-container *ngIf="displayAuctions">
      <app-auctions [auctions]="userAuctions"></app-auctions>
    </ng-container>
  </div>
</div>
